body {
    margin: 0;
    display: flex;
    /* align-items: center; */
    /* min-width: 100vh; */
    min-width: 330px;
    background: linear-gradient(90deg, #2335be, #30c0cbe9);

}
#mess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    padding: 5px;
    margin: 90px auto 20px;
    display: flex;
    flex-direction: column;
}
#header {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #eceadd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header img {
    width: 23px;
    margin-left: 4px;
}

.input {
    display: flex;
    align-items: center;
}

button {
    padding: 7px;
    margin-left: 5px;
}

input {
    list-style-type: none;
    font-size: 1.3rem;
}
@media only screen and (max-width: 330px){
    input {
        list-style-type: none;
        font-size: 1rem;
}
button {
    padding: 4px;
    margin-left: 5px;
}
}

#para {
    font-size: 1.5rem;
}

.para {
    font-size: 23px;
    color: white;
}